In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/R95p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year   r95p      Station
 0   1901  259.9  61700004063
 1   1902   77.8  61700004063
 2   1903   44.8  61700004063
 3   1904  119.8  61700004063
 4   1905   86.2  61700004063
 ..   ...    ...          ...
 94  1995  212.8  61700004063
 95  1996  217.7  61700004063
 96  1997  121.4  61700004063
 97  1998  264.8  61700004063
 98  1999  112.5  61700004063

 [99 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000043
 1    1880  -99.9  LOCID000043
 2    1881  -99.9  LOCID000043
 3    1882  -99.9  LOCID000043
 4    1883  -99.9  LOCID000043
 ..    ...    ...          ...
 121  2000   71.9  LOCID000043
 122  2001  231.8  LOCID000043
 123  2002  264.0  LOCID000043
 124  2003  121.0  LOCID000043
 125  2004  166.0  LOCID000043

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000042
 1    1880  -99.9  LOCID000042
 2    1881  -99.9  LOCID000042
 3    1882  -99.9  LOCID000042
 4    1883  -99.9  LOCID000042
 ..    ...    ...          ...
 121  2000   71.9  LOCID000042
 122  2001  231.8  LOCID000042
 123  2002  264.0  LOCID000042
 124  2003  121.0  LOCID000042
 125  2004  166.0  LOCID000042

 [126 rows x 3 columns],
      year   r95p      Station
 0    1870  219.3  LOCID000040
 1    1871  272.2  LOCID000040
 2    1872  129.6  LOCID000040
 3    1873   94.0  LOCID000040
 4    1874   91.9  LOCID000040
 ..    ...    ...          ...
 130  2000  104.0  LOCID000040
 131  2001  110.0  LOCID000040
 132  2002  184.0  LOCID000040
 133  2003   60.0  LOCID000040
 134  2004  123.0  LOCID000040

 [135 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000054
 1    1880  -99.9  LOCID000054
 2    1881  -99.9  LOCID000054
 3    1882  -99.9  LOCID000054
 4    1883  -99.9  LOCID000054
 ..    ...    ...          ...
 121  2000  471.1  LOCID000054
 122  2001  598.9  LOCID000054
 123  2002  -99.9  LOCID000054
 124  2003  -99.9  LOCID000054
 125  2004  -99.9  LOCID000054

 [126 rows x 3 columns],
      year   r95p      Station
 0    1870  -99.9  LOCID000041
 1    1871  -99.9  LOCID000041
 2    1872  -99.9  LOCID000041
 3    1873  -99.9  LOCID000041
 4    1874  -99.9  LOCID000041
 ..    ...    ...          ...
 130  2000   82.0  LOCID000041
 131  2001  152.0  LOCID000041
 132  2002  307.0  LOCID000041
 133  2003  104.0  LOCID000041
 134  2004  150.0  LOCID000041

 [135 rows x 3 columns],
     year   r95p      Station
 0   1912  176.6  61700003865
 1   1913  105.1  61700003865
 2   1914  272.7  61700003865
 3   1915  185.8  61700003865
 4   1916  173.7  61700003865
 5   1917   61.6  61700003865
 6   1918  193.2  61700003865
 7   1919   48.6  61700003865
 8   1920   55.6  61700003865
 9   1921  172.7  61700003865
 10  1922  134.7  61700003865
 11  1923  117.4  61700003865
 12  1924  171.5  61700003865
 13  1925  202.2  61700003865
 14  1926  274.1  61700003865
 15  1927  238.2  61700003865
 16  1928  127.1  61700003865
 17  1929  173.7  61700003865
 18  1930  222.9  61700003865
 19  1931  386.0  61700003865
 20  1932  167.9  61700003865
 21  1933  162.4  61700003865
 22  1934  111.5  61700003865
 23  1935  235.5  61700003865
 24  1936  179.2  61700003865
 25  1937  230.1  61700003865
 26  1938   95.7  61700003865
 27  1939  295.4  61700003865
 28  1940  195.2  61700003865
 29  1941  309.2  61700003865
 30  1942  149.1  61700003865
 31  1943   95.1  61700003865
 32  1944   65.1  61700003865
 33  1945  209.5  61700003865
 34  1946  180.1  61700003865
 35  1947  156.8  61700003865
 36  1948  221.3  61700003865
 37  1949  226.1  61700003865
 38  1950  199.1  61700003865
 39  1951  350.9  61700003865
 40  1952   66.9  61700003865
 41  1953  105.7  61700003865
 42  1954  302.9  61700003865
 43  1955  237.6  61700003865
 44  1956  156.5  61700003865
 45  1957   91.3  61700003865
 46  1958  171.7  61700003865
 47  1959   90.5  61700003865
 48  1960  288.1  61700003865
 49  1961  176.6  61700003865
 50  1962  -99.9  61700003865,
      year   r95p      Station
 0    1879  -99.9  LOCID000045
 1    1880  -99.9  LOCID000045
 2    1881  -99.9  LOCID000045
 3    1882  -99.9  LOCID000045
 4    1883  -99.9  LOCID000045
 ..    ...    ...          ...
 121  2000   96.4  LOCID000045
 122  2001  158.4  LOCID000045
 123  2002  -99.9  LOCID000045
 124  2003  -99.9  LOCID000045
 125  2004  -99.9  LOCID000045

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000051
 1    1880  -99.9  LOCID000051
 2    1881  -99.9  LOCID000051
 3    1882  -99.9  LOCID000051
 4    1883  -99.9  LOCID000051
 ..    ...    ...          ...
 121  2000  162.1  LOCID000051
 122  2001   97.5  LOCID000051
 123  2002  217.0  LOCID000051
 124  2003  133.0  LOCID000051
 125  2004  112.0  LOCID000051

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879   69.0  LOCID000050
 1    1880   84.1  LOCID000050
 2    1881   76.2  LOCID000050
 3    1882  230.9  LOCID000050
 4    1883   58.0  LOCID000050
 ..    ...    ...          ...
 121  2000  147.4  LOCID000050
 122  2001   65.3  LOCID000050
 123  2002  328.0  LOCID000050
 124  2003   47.0  LOCID000050
 125  2004   80.0  LOCID000050

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879  186.1  LOCID000044
 1    1880  164.1  LOCID000044
 2    1881  151.1  LOCID000044
 3    1882  181.4  LOCID000044
 4    1883  222.3  LOCID000044
 ..    ...    ...          ...
 121  2000  310.3  LOCID000044
 122  2001  199.3  LOCID000044
 123  2002  -99.9  LOCID000044
 124  2003  -99.9  LOCID000044
 125  2004  -99.9  LOCID000044

 [126 rows x 3 columns],
     year   r95p      Station
 0   1901   40.6  61700003319
 1   1902  189.4  61700003319
 2   1903   52.3  61700003319
 3   1904  112.0  61700003319
 4   1905  111.0  61700003319
 ..   ...    ...          ...
 94  1995   60.4  61700003319
 95  1996  162.5  61700003319
 96  1997  110.8  61700003319
 97  1998   51.9  61700003319
 98  1999   37.0  61700003319

 [99 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000052
 1    1880  -99.9  LOCID000052
 2    1881  -99.9  LOCID000052
 3    1882  -99.9  LOCID000052
 4    1883  -99.9  LOCID000052
 ..    ...    ...          ...
 121  2000  128.0  LOCID000052
 122  2001  105.0  LOCID000052
 123  2002  391.0  LOCID000052
 124  2003   58.0  LOCID000052
 125  2004  127.0  LOCID000052

 [126 rows x 3 columns],
      year  r95p      Station
 0    1879 -99.9  LOCID000046
 1    1880 -99.9  LOCID000046
 2    1881 -99.9  LOCID000046
 3    1882 -99.9  LOCID000046
 4    1883 -99.9  LOCID000046
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000046
 122  2001 -99.9  LOCID000046
 123  2002 -99.9  LOCID000046
 124  2003 -99.9  LOCID000046
 125  2004 -99.9  LOCID000046

 [126 rows x 3 columns],
      year   r95p      Station
 0    1876  176.6  LOCID000047
 1    1877  679.7  LOCID000047
 2    1878  350.6  LOCID000047
 3    1879  647.7  LOCID000047
 4    1880  540.6  LOCID000047
 ..    ...    ...          ...
 124  2000   98.3  LOCID000047
 125  2001  103.8  LOCID000047
 126  2002  -99.9  LOCID000047
 127  2003  -99.9  LOCID000047
 128  2004  -99.9  LOCID000047

 [129 rows x 3 columns],
      year  r95p      Station
 0    1879 -99.9  LOCID000053
 1    1880 -99.9  LOCID000053
 2    1881 -99.9  LOCID000053
 3    1882 -99.9  LOCID000053
 4    1883 -99.9  LOCID000053
 ..    ...   ...          ...
 121  2000 -99.9  LOCID000053
 122  2001 -99.9  LOCID000053
 123  2002 -99.9  LOCID000053
 124  2003 -99.9  LOCID000053
 125  2004 -99.9  LOCID000053

 [126 rows x 3 columns],
     year   r95p      Station
 0   1917   65.6  61700003244
 1   1918  142.7  61700003244
 2   1919  134.3  61700003244
 3   1920  145.0  61700003244
 4   1921  153.7  61700003244
 ..   ...    ...          ...
 78  1995  208.5  61700003244
 79  1996   80.4  61700003244
 80  1997  167.3  61700003244
 81  1998  280.8  61700003244
 82  1999  200.2  61700003244

 [83 rows x 3 columns],
     year   r95p      Station
 0   1901  181.9  61700002698
 1   1902   69.1  61700002698
 2   1903  108.6  61700002698
 3   1904  163.7  61700002698
 4   1905   41.9  61700002698
 ..   ...    ...          ...
 94  1995  187.9  61700002698
 95  1996  126.5  61700002698
 96  1997  214.1  61700002698
 97  1998   68.0  61700002698
 98  1999  131.1  61700002698

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  208.7  61700002288
 1   1902   46.0  61700002288
 2   1903   45.2  61700002288
 3   1904  189.4  61700002288
 4   1905   81.2  61700002288
 ..   ...    ...          ...
 94  1995  -99.9  61700002288
 95  1996  -99.9  61700002288
 96  1997  -99.9  61700002288
 97  1998  -99.9  61700002288
 98  1999  195.9  61700002288

 [99 rows x 3 columns],
     year   r95p      Station
 0   1907  -99.9  61700002277
 1   1908  169.6  61700002277
 2   1909   98.5  61700002277
 3   1910  161.1  61700002277
 4   1911   46.0  61700002277
 ..   ...    ...          ...
 88  1995  307.7  61700002277
 89  1996  -99.9  61700002277
 90  1997  146.5  61700002277
 91  1998  173.0  61700002277
 92  1999  -99.9  61700002277

 [93 rows x 3 columns],
     year   r95p      Station
 0   1901  119.6  61700003342
 1   1902  151.2  61700003342
 2   1903   81.5  61700003342
 3   1904  102.8  61700003342
 4   1905  172.4  61700003342
 ..   ...    ...          ...
 94  1995   81.9  61700003342
 95  1996   64.5  61700003342
 96  1997  112.8  61700003342
 97  1998   85.9  61700003342
 98  1999   19.8  61700003342

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  274.3  61700001153
 1   1902   49.8  61700001153
 2   1903  146.4  61700001153
 3   1904  119.6  61700001153
 4   1905   96.2  61700001153
 ..   ...    ...          ...
 86  1987  195.7  61700001153
 87  1988  199.0  61700001153
 88  1989  112.9  61700001153
 89  1990  171.7  61700001153
 90  1991  155.0  61700001153

 [91 rows x 3 columns],
      year   r95p      Station
 0    1876   77.6  LOCID000037
 1    1877  123.0  LOCID000037
 2    1878   60.3  LOCID000037
 3    1879   69.0  LOCID000037
 4    1880   84.1  LOCID000037
 ..    ...    ...          ...
 124  2000  103.1  LOCID000037
 125  2001   90.7  LOCID000037
 126  2002  328.0  LOCID000037
 127  2003   47.0  LOCID000037
 128  2004   80.0  LOCID000037

 [129 rows x 3 columns],
      year   r95p      Station
 0    1879   80.1  LOCID000036
 1    1880  108.4  LOCID000036
 2    1881  202.7  LOCID000036
 3    1882  182.8  LOCID000036
 4    1883  110.5  LOCID000036
 ..    ...    ...          ...
 121  2000   86.1  LOCID000036
 122  2001  105.8  LOCID000036
 123  2002  173.0  LOCID000036
 124  2003   90.0  LOCID000036
 125  2004  217.0  LOCID000036

 [126 rows x 3 columns],
     year   r95p      Station
 0   1901  184.6  61700004204
 1   1902  115.2  61700004204
 2   1903   95.2  61700004204
 3   1904  121.3  61700004204
 4   1905  220.7  61700004204
 ..   ...    ...          ...
 94  1995  264.7  61700004204
 95  1996  190.5  61700004204
 96  1997  -99.9  61700004204
 97  1998   76.8  61700004204
 98  1999  132.7  61700004204

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  127.3  61700004199
 1   1902   53.7  61700004199
 2   1903  179.3  61700004199
 3   1904  203.8  61700004199
 4   1905  221.6  61700004199
 ..   ...    ...          ...
 94  1995  276.1  61700004199
 95  1996  109.6  61700004199
 96  1997  122.5  61700004199
 97  1998  169.4  61700004199
 98  1999  -99.9  61700004199

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  144.0  61700003218
 1   1902   50.5  61700003218
 2   1903   60.7  61700003218
 3   1904   88.0  61700003218
 4   1905  206.1  61700003218
 ..   ...    ...          ...
 85  1986  162.4  61700003218
 86  1987  101.3  61700003218
 87  1988   35.9  61700003218
 88  1989   31.6  61700003218
 89  1990  -99.9  61700003218

 [90 rows x 3 columns],
     year   r95p      Station
 0   1901  301.1  61700002716
 1   1902   59.1  61700002716
 2   1903  220.3  61700002716
 3   1904  190.5  61700002716
 4   1905   44.6  61700002716
 ..   ...    ...          ...
 94  1995  141.5  61700002716
 95  1996   90.7  61700002716
 96  1997   60.1  61700002716
 97  1998  135.2  61700002716
 98  1999   91.6  61700002716

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  265.9  61700004155
 1   1902   73.7  61700004155
 2   1903   34.3  61700004155
 3   1904  119.9  61700004155
 4   1905   69.2  61700004155
 ..   ...    ...          ...
 94  1995  798.5  61700004155
 95  1996  322.1  61700004155
 96  1997  498.7  61700004155
 97  1998  352.2  61700004155
 98  1999  495.2  61700004155

 [99 rows x 3 columns],
     year   r95p      Station
 0   1901  166.4  61700002641
 1   1902   96.7  61700002641
 2   1903   59.2  61700002641
 3   1904  176.3  61700002641
 4   1905   82.2  61700002641
 ..   ...    ...          ...
 94  1995   77.3  61700002641
 95  1996   37.0  61700002641
 96  1997   39.2  61700002641
 97  1998  184.1  61700002641
 98  1999  148.7  61700002641

 [99 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000038
 1    1880  -99.9  LOCID000038
 2    1881  -99.9  LOCID000038
 3    1882  -99.9  LOCID000038
 4    1883  -99.9  LOCID000038
 ..    ...    ...          ...
 121  2000   60.7  LOCID000038
 122  2001  224.7  LOCID000038
 123  2002  407.0  LOCID000038
 124  2003  194.0  LOCID000038
 125  2004  172.0  LOCID000038

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000039
 1    1880  -99.9  LOCID000039
 2    1881  -99.9  LOCID000039
 3    1882  -99.9  LOCID000039
 4    1883  -99.9  LOCID000039
 ..    ...    ...          ...
 121  2000   66.0  LOCID000039
 122  2001   69.0  LOCID000039
 123  2002  307.0  LOCID000039
 124  2003  132.0  LOCID000039
 125  2004   80.0  LOCID000039

 [126 rows x 3 columns],
     year   r95p      Station
 0   1901   98.3  61700003038
 1   1902  128.6  61700003038
 2   1903  195.5  61700003038
 3   1904   34.6  61700003038
 4   1905   33.1  61700003038
 ..   ...    ...          ...
 94  1995   99.0  61700003038
 95  1996  120.8  61700003038
 96  1997   52.7  61700003038
 97  1998  167.8  61700003038
 98  1999   95.0  61700003038

 [99 rows x 3 columns],
      year   r95p      Station
 0    1879  186.0  61700010962
 1    1880  216.0  61700010962
 2    1881  151.0  61700010962
 3    1882  181.0  61700010962
 4    1883  223.0  61700010962
 ..    ...    ...          ...
 116  1995  242.0  61700010962
 117  1996  148.0  61700010962
 118  1997  168.0  61700010962
 119  1998  217.0  61700010962
 120  1999  398.6  61700010962

 [121 rows x 3 columns],
      year   r95p      Station
 0    1879  -99.9  LOCID000049
 1    1880  -99.9  LOCID000049
 2    1881  -99.9  LOCID000049
 3    1882  -99.9  LOCID000049
 4    1883  -99.9  LOCID000049
 ..    ...    ...          ...
 121  2000   97.0  LOCID000049
 122  2001  285.0  LOCID000049
 123  2002  248.0  LOCID000049
 124  2003  202.0  LOCID000049
 125  2004  180.0  LOCID000049

 [126 rows x 3 columns],
      year   r95p      Station
 0    1879  107.9  LOCID000048
 1    1880  296.5  LOCID000048
 2    1881  266.4  LOCID000048
 3    1882  161.6  LOCID000048
 4    1883   98.5  LOCID000048
 ..    ...    ...          ...
 121  2000  316.0  LOCID000048
 122  2001  107.0  LOCID000048
 123  2002  515.0  LOCID000048
 124  2003  261.0  LOCID000048
 125  2004  281.0  LOCID000048

 [126 rows x 3 columns],
     year   r95p      Station
 0   1901  166.3  61700001474
 1   1902   71.7  61700001474
 2   1903  255.1  61700001474
 3   1904   34.6  61700001474
 4   1905  161.9  61700001474
 ..   ...    ...          ...
 94  1995  160.0  61700001474
 95  1996   67.8  61700001474
 96  1997  143.3  61700001474
 97  1998  169.8  61700001474
 98  1999    0.0  61700001474

 [99 rows x 3 columns],
      year   r95p      Station
 0    1891   86.0  61700010147
 1    1892   57.0  61700010147
 2    1893  111.0  61700010147
 3    1894  180.0  61700010147
 4    1895  112.0  61700010147
 ..    ...    ...          ...
 104  1995  176.0  61700010147
 105  1996   88.0  61700010147
 106  1997  205.0  61700010147
 107  1998  268.0  61700010147
 108  1999   93.8  61700010147

 [109 rows x 3 columns]]

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 3)
Shape of csv2: (126, 3)
Shape of csv3: (126, 3)
Shape of csv4: (135, 3)
Shape of csv5: (126, 3)
Shape of csv6: (135, 3)
Shape of csv7: (51, 3)
Shape of csv8: (126, 3)
Shape of csv9: (126, 3)
Shape of csv10: (126, 3)
Shape of csv11: (126, 3)
Shape of csv12: (99, 3)
Shape of csv13: (126, 3)
Shape of csv14: (126, 3)
Shape of csv15: (129, 3)
Shape of csv16: (126, 3)
Shape of csv17: (83, 3)
Shape of csv18: (99, 3)
Shape of csv19: (99, 3)
Shape of csv20: (93, 3)
Shape of csv21: (99, 3)
Shape of csv22: (91, 3)
Shape of csv23: (129, 3)
Shape of csv24: (126, 3)
Shape of csv25: (99, 3)
Shape of csv26: (99, 3)
Shape of csv27: (90, 3)
Shape of csv28: (99, 3)
Shape of csv29: (99, 3)
Shape of csv30: (99, 3)
Shape of csv31: (126, 3)
Shape of csv32: (126, 3)
Shape of csv33: (99, 3)
Shape of csv34: (121, 3)
Shape of csv35: (126, 3)
Shape of csv36: (126, 3)
Shape of csv37: (99, 3)
Shape of csv38: (109, 3)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)


    merged_df_TXx = pd.concat(dfs, ignore_index=True)

    return merged_df_TXx

merged_df_TXx = pd.concat(dataframes, ignore_index=True)
merged_df_TXx

      year   r95p      Station
0     1901  259.9  61700004063
1     1902   77.8  61700004063
2     1903   44.8  61700004063
3     1904  119.8  61700004063
4     1905   86.2  61700004063
...    ...    ...          ...
4239  1995  176.0  61700010147
4240  1996   88.0  61700010147
4241  1997  205.0  61700010147
4242  1998  268.0  61700010147
4243  1999   93.8  61700010147

[4244 rows x 3 columns]

In [5]:
merged_df_TXx.head(30)

    year   r95p      Station
0   1901  259.9  61700004063
1   1902   77.8  61700004063
2   1903   44.8  61700004063
3   1904  119.8  61700004063
4   1905   86.2  61700004063
5   1906  195.7  61700004063
6   1907  107.4  61700004063
7   1908  178.4  61700004063
8   1909  136.5  61700004063
9   1910  173.4  61700004063
10  1911   15.6  61700004063
11  1912   49.1  61700004063
12  1913   96.8  61700004063
13  1914  134.8  61700004063
14  1915  117.8  61700004063
15  1916  -99.9  61700004063
16  1917  157.9  61700004063
17  1918   51.5  61700004063
18  1919   85.3  61700004063
19  1920  147.9  61700004063
20  1921   53.1  61700004063
21  1922  143.8  61700004063
22  1923   86.9  61700004063
23  1924  161.0  61700004063
24  1925   93.5  61700004063
25  1926  132.6  61700004063
26  1927  266.2  61700004063
27  1928   27.0  61700004063
28  1929   17.9  61700004063
29  1930  135.0  61700004063

In [6]:
merged_df_TXx.to_csv('merged_df_TXx.csv', index=False)