In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/TXx'

dataframes = read_csv_files(csv_directory)
dataframes

[    year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1901   9.1   7.9  16.2  22.1  29.4  33.1  31.8  30.4  27.1  24.9  12.0
 1   1902   9.2  14.2  18.5  24.2  30.2  33.7  31.3  31.0  31.4  19.9  14.8
 2   1903  13.3  18.9  24.0  20.0  28.6  31.5  32.0  29.9  32.0  24.6  11.0
 3   1904   9.0   9.3  18.5  24.5  29.5  31.0  35.1  33.5  26.0  21.0  11.9
 4   1905   7.0   8.5  17.1  20.7  28.0  33.1  34.4  33.0  27.0  13.9  17.2
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 94  1995  14.2  16.5  17.3  26.6  28.2  29.5  34.7  31.2  25.1  23.6  13.5
 95  1996   7.7  12.1  13.6  28.0  30.1  33.1  28.3  29.5  24.2  21.2  14.8
 96  1997   4.6  14.7  19.9  19.3  30.7  33.3  27.8  31.5  29.3  23.8  14.1
 97  1998  12.1  16.8  22.6  22.5  30.4  33.7  35.9  37.7  25.7  20.7  11.4
 98  1999  14.4  13.4  18.5  22.4  30.7  30.6  33.0  29.7  30.5  19.0  15.5

      dec  annual      Station
 0   11.9    33.1  61700004063
 1    9.0    33.7  61700004063
 2    6.0    32.0  61700004063
 3   12.7    35.1  61700004063
 4   10.6    34.4  61700004063
 ..   ...     ...          ...
 94  11.8    34.7  61700004063
 95   9.6    33.1  61700004063
 96  13.2    33.3  61700004063
 97  11.0    37.7  61700004063
 98  13.4    33.0  61700004063

 [99 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000  10.2  13.4  13.3  25.3  29.9  34.6  26.1  29.7  24.8  19.7  13.4
 122  2001  10.7  13.5  13.2  20.6  25.1  27.7  30.4  32.5  20.2  22.4  12.2
 123  2002  12.4  16.1  17.8  18.9  27.0  33.6  32.2  29.5  26.2  19.2  10.9
 124  2003   8.7  11.4  17.8  21.8  27.6  30.5  33.7  34.4  28.5  17.3  14.3
 125  2004   9.4  15.0  19.6  20.8  24.6  24.0  27.6  30.3  26.3  19.3  12.3

       dec  annual      Station
 0   -99.9   -99.9  LOCID000043
 1   -99.9   -99.9  LOCID000043
 2   -99.9   -99.9  LOCID000043
 3   -99.9   -99.9  LOCID000043
 4   -99.9   -99.9  LOCID000043
 ..    ...     ...          ...
 121  14.3    34.6  LOCID000043
 122   8.0    32.5  LOCID000043
 123   8.7    33.6  LOCID000043
 124  11.3    34.4  LOCID000043
 125   9.8    30.3  LOCID000043

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000042
 1   -99.9   -99.9  LOCID000042
 2   -99.9   -99.9  LOCID000042
 3   -99.9   -99.9  LOCID000042
 4   -99.9   -99.9  LOCID000042
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000042
 122 -99.9   -99.9  LOCID000042
 123 -99.9   -99.9  LOCID000042
 124 -99.9   -99.9  LOCID000042
 125 -99.9   -99.9  LOCID000042

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1870  11.3  12.8  14.1  22.5  31.3  32.1  35.0  28.2  26.8  18.7  13.7
 1    1871   4.2  13.1  22.1  20.0  27.5  29.7  29.3  31.0  29.7  17.5   9.7
 2    1872   8.8  11.8  22.1  23.1  25.0  27.0  34.1  25.3  30.0  21.2  15.7
 3    1873   9.3  11.8  20.8  23.7  22.5  29.5  31.7  31.8  25.6  23.7  12.8
 4    1874  11.9  10.1  17.2  25.6  28.7  30.2  33.3  28.2  29.4  25.0  11.2
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 130  2000  10.9  16.4  17.4  26.7  28.9  34.1  29.2  31.1  26.3  21.3  14.6
 131  2001  12.6  16.1  15.8  22.6  29.0  30.2  33.7  33.8  23.8  26.0  14.2
 132  2002  14.1 -99.9  18.8  21.4  28.0  37.5  31.9  30.9  28.2  19.9  17.7
 133  2003  11.9  13.6  21.4  25.4  29.6  33.9  36.8  38.7  30.3  23.6  14.6
 134  2004  11.5  15.1  21.8  25.9  25.8  33.6  31.4  33.1  27.8  25.8  14.0

       dec  annual      Station
 0    12.5    35.0  LOCID000040
 1     4.6    31.0  LOCID000040
 2    12.3    34.1  LOCID000040
 3     9.8    31.8  LOCID000040
 4    10.2    33.3  LOCID000040
 ..    ...     ...          ...
 130  13.6    34.1  LOCID000040
 131  11.8    33.8  LOCID000040
 132  12.7    37.5  LOCID000040
 133  12.1    38.7  LOCID000040
 134   9.7    33.6  LOCID000040

 [135 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000054
 1   -99.9   -99.9  LOCID000054
 2   -99.9   -99.9  LOCID000054
 3   -99.9   -99.9  LOCID000054
 4   -99.9   -99.9  LOCID000054
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000054
 122 -99.9   -99.9  LOCID000054
 123 -99.9   -99.9  LOCID000054
 124 -99.9   -99.9  LOCID000054
 125 -99.9   -99.9  LOCID000054

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1870 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1871 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1872 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1873 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1874 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 130  2000  10.1  16.4  15.2  26.7  30.1  34.8  24.9  32.0  26.0  22.3  13.6
 131  2001  11.8  14.5  15.5  22.1  28.3  28.7  30.7  34.7  20.9  24.0  11.4
 132  2002  15.3  16.5  18.7  17.8  26.6  33.7  34.0  30.3  28.0  18.7  12.2
 133  2003   9.1  12.6  18.1  23.9  30.8  32.1  33.5  36.0  29.4  18.0  14.2
 134  2004   7.6  14.4  20.0  23.9  22.4  25.8  29.1  30.3  26.6  25.7  14.2

       dec  annual      Station
 0   -99.9   -99.9  LOCID000041
 1   -99.9   -99.9  LOCID000041
 2   -99.9   -99.9  LOCID000041
 3   -99.9   -99.9  LOCID000041
 4   -99.9   -99.9  LOCID000041
 ..    ...     ...          ...
 130  13.8    34.8  LOCID000041
 131   7.3    34.7  LOCID000041
 132   7.5    34.0  LOCID000041
 133  11.6    36.0  LOCID000041
 134   9.4    30.3  LOCID000041

 [135 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1912   7.7  16.3  17.0  20.4  21.8  29.5  30.3  23.7  17.6  16.0   8.8
 1   1913   6.9  11.9  21.5  29.4  30.3  29.1  26.3  27.4  24.8  20.7  15.7
 2   1914   9.0  15.4  16.6  25.4  30.4  26.4  32.5  31.1  28.7  17.5  11.6
 3   1915   9.0   9.9  15.7  22.5  27.8  36.2  32.7  26.3  26.8  16.4  11.8
 4   1916  10.3   9.4  12.8  24.2  27.8  28.8  27.6  26.8  22.1  19.0  15.0
 5   1917   8.7   5.6   9.3  16.4  27.6  35.4  28.9  28.6  27.7  23.9  11.4
 6   1918   9.3   9.4  17.6  20.8  31.1  26.1  30.0  30.4  26.5  18.4  12.2
 7   1919   8.5  10.4  18.9  18.5  26.2  33.8  27.9  27.1  34.4  18.7  11.2
 8   1920   9.5  16.9  19.6  20.0  28.9  27.6  31.2  27.2  21.2  19.7  14.0
 9   1921  10.9  11.0  20.2  23.6  30.6  30.5  34.4  34.7  29.6  26.6  11.8
 10  1922  10.6  14.8  14.6  25.8  36.6  30.2  29.0  28.4  21.2  16.9  10.3
 11  1923   7.8  11.2  20.9  24.3  27.8  20.8  38.8  27.6  28.3  25.9  12.8
 12  1924   6.9   6.8  17.6  18.7  29.5  29.8  34.4  28.8  27.1  21.8  14.0
 13  1925  11.0  12.1  14.4  21.8  27.2  31.0  35.2  33.8  22.6  21.2  14.2
 14  1926   7.5  10.1  14.0  26.2  22.6  23.4  31.6  26.1  30.0  19.3  17.0
 15  1927   9.6  13.4  19.3  16.9  24.5  28.9  29.4  28.9  27.6  18.2  15.7
 16  1928   8.4  13.0  18.6  27.2  25.5  24.6  33.4  29.3  31.8  20.5  12.8
 17  1929   4.5   2.2  16.7  19.3  28.6  28.3  32.5  33.9  35.5  17.6  11.9
 18  1930  13.8   7.9  19.2  21.9  22.8  32.3  34.0  31.4  20.4  22.8  12.4
 19  1931   7.9   8.7  16.2  20.2  30.8  27.9  29.4  32.0  24.7  22.5  18.0
 20  1932  11.0   7.4  16.3  22.5  32.6  30.7  33.8  35.8  27.6  19.7  14.9
 21  1933   9.6   9.4  20.2  20.2  27.4  27.6  32.2  28.9  27.6  21.7   9.8
 22  1934  10.6  10.4  15.8  23.8  29.1  31.6  32.4  30.1  28.9  21.6  12.2
 23  1935   9.1  11.0  19.9  21.3  26.1  31.9  29.7  30.5  27.6  20.6  17.1
 24  1936  13.2   7.3  20.7  18.6  22.8  31.2  29.4  28.6  23.6  14.4  12.6
 25  1937   9.0  10.1  14.8  19.2  30.3  35.6  32.0  30.8  25.4  18.2  12.0
 26  1938  10.0  14.0  23.3  17.6  32.7  31.0  32.0  32.8  26.5  20.4  16.4
 27  1939  13.9  10.3  14.0  26.0  26.0  33.2  31.5  31.0  27.4  14.8  14.6
 28  1940   3.2  11.2  16.5  24.6  27.0  28.7  29.6  29.4  26.2  17.0  13.6
 29  1941   0.8   8.6  13.0  16.2  25.0  33.4  34.5  24.2  23.7  19.4  11.1
 30  1942   6.0   2.6  14.7  21.4  25.0  30.2  32.4  31.6  28.4  25.2  11.6
 31  1943  11.0  11.6  18.4  25.2  30.6  28.4  31.6  34.6  26.3  19.8  15.5
 32  1944  10.6   9.8  10.2  22.4  31.5  28.0  33.8  35.3  24.2  17.2  12.7
 33  1945   4.0  12.0  21.6  24.7  34.0  30.8  32.0  29.6  24.0  20.0  13.0
 34  1946  11.9   9.9  18.2  26.0  27.5  25.6  36.2  29.7  25.2  18.7  16.5
 35  1947  11.5   1.4  18.4  21.0  31.7  36.5  32.8  33.3  35.6  21.7  15.4
 36  1948  12.5  12.4  21.6  28.0  27.5  31.7  33.0  34.2  27.8  19.8  13.4
 37  1949   9.2  14.0  18.6  25.6  24.2  28.5  29.2  29.0  32.2  23.5  11.3
 38  1950   8.5  15.2  19.1  18.0  29.5  30.2  28.5  29.9  22.5  19.3  14.2
 39  1951   8.5   9.6  15.6  28.9  23.5  26.3  30.7  31.2  28.3  18.7  12.7
 40  1952   8.7  10.7  13.0  26.4  22.3  26.8  33.7  29.0  21.8  15.5   9.6
 41  1953   9.0  13.7  20.0  23.6  29.2  28.7  32.0  30.7  29.2  21.0  12.3
 42  1954  10.2   6.8  19.2  16.7  26.4  32.3  22.9  29.8  28.2  17.9  13.9
 43  1955   8.5   8.2  16.3  28.0  23.2  26.4  29.9  29.0  24.8  17.3  15.7
 44  1956   8.0   3.5  18.4  18.4  30.6  24.5  28.2  21.5  25.0  20.0  10.5
 45  1957  10.8  13.3  19.7  24.0  25.4  31.8  35.7  27.0  25.0  16.6  14.3
 46  1958   6.7  14.9   9.7  20.2  25.5  29.0  27.8  26.7  28.7  20.0   9.5
 47  1959  10.6  18.6  18.7  26.8  25.8  31.0  35.1  30.5  26.7  22.1  10.9
 48  1960  11.2  11.7  15.0  21.8  25.0  28.5  30.2  27.7  23.6  20.1  14.5
 49  1961   7.5  15.5  19.6  22.2  21.9  30.0  32.2  29.7  30.2  21.5  14.0
 50  1962  10.0   8.4  12.8  25.0  20.4  28.8  24.7  22.8  26.0 -99.9 -99.9

      dec  annual      Station
 0   12.2    30.3  61700003865
 1    9.7    30.3  61700003865
 2   13.1    32.5  61700003865
 3   13.2    36.2  61700003865
 4    9.9    28.8  61700003865
 5    9.2    35.4  61700003865
 6   10.1    31.1  61700003865
 7    9.2    34.4  61700003865
 8   12.1    31.2  61700003865
 9   12.1    34.7  61700003865
 10   9.2    36.6  61700003865
 11   7.4    38.8  61700003865
 12  10.2    34.4  61700003865
 13  12.4    35.2  61700003865
 14   8.2    31.6  61700003865
 15   8.4    29.4  61700003865
 16   8.4    33.4  61700003865
 17  11.9    35.5  61700003865
 18   8.0    34.0  61700003865
 19  10.6    32.0  61700003865
 20  13.1    35.8  61700003865
 21   5.4    32.2  61700003865
 22  11.0    32.4  61700003865
 23   9.4    31.9  61700003865
 24  11.6    31.2  61700003865
 25   8.8    35.6  61700003865
 26   8.4    32.8  61700003865
 27  11.2    33.2  61700003865
 28   5.4    29.6  61700003865
 29  11.8    34.5  61700003865
 30  11.4    32.4  61700003865
 31   8.2    34.6  61700003865
 32   7.9    35.3  61700003865
 33   8.7    34.0  61700003865
 34   8.8    36.2  61700003865
 35   9.8    36.5  61700003865
 36  12.8    34.2  61700003865
 37  10.9    32.2  61700003865
 38   8.6    30.2  61700003865
 39  10.2    31.2  61700003865
 40   5.9    33.7  61700003865
 41  15.7    32.0  61700003865
 42  11.8    32.3  61700003865
 43  12.0    29.9  61700003865
 44  13.8    30.6  61700003865
 45  10.6    35.7  61700003865
 46   9.5    29.0  61700003865
 47   8.9    35.1  61700003865
 48  10.9    30.2  61700003865
 49  12.3    32.2  61700003865
 50 -99.9   -99.9  61700003865  ,
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000  12.2  17.5  18.2  28.0  29.7  35.4  25.9  33.6  28.2  20.9  14.7
 122  2001  12.5  16.5  15.5  24.4  29.5  30.4  32.1  35.9  22.0  25.5  12.2
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000045
 1   -99.9   -99.9  LOCID000045
 2   -99.9   -99.9  LOCID000045
 3   -99.9   -99.9  LOCID000045
 4   -99.9   -99.9  LOCID000045
 ..    ...     ...          ...
 121  14.9    35.4  LOCID000045
 122   9.0    35.9  LOCID000045
 123 -99.9   -99.9  LOCID000045
 124 -99.9   -99.9  LOCID000045
 125 -99.9   -99.9  LOCID000045

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000051
 1   -99.9   -99.9  LOCID000051
 2   -99.9   -99.9  LOCID000051
 3   -99.9   -99.9  LOCID000051
 4   -99.9   -99.9  LOCID000051
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000051
 122 -99.9   -99.9  LOCID000051
 123 -99.9   -99.9  LOCID000051
 124 -99.9   -99.9  LOCID000051
 125 -99.9   -99.9  LOCID000051

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879   9.2  10.2  14.2  20.5  26.5  28.5  28.8  31.2  25.5  19.2  10.8
 1    1880   8.0  11.0  18.2  27.4  31.6  30.2  32.5  27.8  31.7  22.0  13.8
 2    1881   6.8   9.0  16.5  21.0  28.8  32.2  34.7  31.4  25.1  18.4  13.9
 3    1882   9.4  15.3  20.5  24.1  27.2  27.8  32.0  29.4  29.3  19.9  12.6
 4    1883  10.7   9.7   8.5  18.0  30.0  31.0  35.0  29.4  28.5  18.8  12.0
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000  11.2  17.7  15.2  30.0  31.5  36.6  25.9  32.5  24.4  23.1  13.8
 122  2001   9.4  12.9  14.9  25.9  29.7  29.0  32.0  35.4  22.7  22.1  11.7
 123  2002  12.7  16.5  18.4  18.4  26.8  33.0  33.8  32.9  27.2  19.7  11.7
 124  2003   9.1  11.5  18.2  22.0  29.3  32.5  33.3  34.9  29.7  17.7  14.6
 125  2004   8.4  15.3  20.1  21.9  24.9  26.8  29.6  31.8  26.0  24.5  14.2

       dec  annual      Station
 0     4.5    31.2  LOCID000050
 1    10.7    32.5  LOCID000050
 2    10.4    34.7  LOCID000050
 3    11.1    32.0  LOCID000050
 4    10.0    35.0  LOCID000050
 ..    ...     ...          ...
 121  13.4    36.6  LOCID000050
 122   7.6    35.4  LOCID000050
 123   7.4    33.8  LOCID000050
 124  11.3    34.9  LOCID000050
 125   8.9    31.8  LOCID000050

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000044
 1   -99.9   -99.9  LOCID000044
 2   -99.9   -99.9  LOCID000044
 3   -99.9   -99.9  LOCID000044
 4   -99.9   -99.9  LOCID000044
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000044
 122 -99.9   -99.9  LOCID000044
 123 -99.9   -99.9  LOCID000044
 124 -99.9   -99.9  LOCID000044
 125 -99.9   -99.9  LOCID000044

 [126 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1901   8.0   7.3  12.3  22.1  28.6  30.6  31.5  29.5  25.7  22.3  10.3
 1   1902  11.3  10.0  15.9  19.5  32.1  32.5  28.2  27.2  28.4  17.5  11.8
 2   1903   9.5  14.9  21.3  19.6  29.1  29.3  33.1  27.2  30.2  24.0  10.8
 3   1904   8.6   8.9  14.7  24.0  28.9  31.1  36.4  32.4  24.3  19.9  11.9
 4   1905   6.4   8.2  14.8  20.0  31.4  33.9  36.3  33.1  24.8  13.8  13.4
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 94  1995  12.8  14.8  16.8  28.7  29.5  27.3  33.5  32.6  24.6  24.8  11.4
 95  1996   4.3  11.1  12.2  29.6  30.6  32.9  27.1  29.8  22.1  19.2  15.6
 96  1997   8.7  14.0  19.5  19.1  29.5  32.6  27.2  31.9  28.2  23.4  17.3
 97  1998  13.9  15.7  19.2  23.7  29.7  33.2  35.4  30.9  24.2  19.9  11.9
 98  1999  14.2  13.2  20.2  21.6  30.8  28.6  35.2  30.7  30.1  18.8  14.8

      dec  annual      Station
 0   11.5    31.5  61700003319
 1    8.8    32.5  61700003319
 2    4.5    33.1  61700003319

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 15)
Shape of csv2: (126, 15)
Shape of csv3: (126, 15)
Shape of csv4: (135, 15)
Shape of csv5: (126, 15)
Shape of csv6: (135, 15)
Shape of csv7: (51, 15)
Shape of csv8: (126, 15)
Shape of csv9: (126, 15)
Shape of csv10: (126, 15)
Shape of csv11: (126, 15)
Shape of csv12: (99, 15)
Shape of csv13: (126, 15)
Shape of csv14: (126, 15)
Shape of csv15: (129, 15)
Shape of csv16: (126, 15)
Shape of csv17: (83, 15)
Shape of csv18: (99, 15)
Shape of csv19: (99, 15)
Shape of csv20: (93, 15)
Shape of csv21: (99, 15)
Shape of csv22: (91, 15)
Shape of csv23: (129, 15)
Shape of csv24: (126, 15)
Shape of csv25: (99, 15)
Shape of csv26: (99, 15)
Shape of csv27: (90, 15)
Shape of csv28: (99, 15)
Shape of csv29: (99, 15)
Shape of csv30: (99, 15)
Shape of csv31: (126, 15)
Shape of csv32: (126, 15)
Shape of csv33: (99, 15)
Shape of csv34: (121, 15)
Shape of csv35: (126, 15)
Shape of csv36: (126, 15)
Shape of csv37: (99, 15)
Shape of csv38: (109, 15)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:

        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_TXx = pd.concat(dfs, ignore_index=True)

    return merged_df_TXx

merged_df_TXx = pd.concat(dataframes, ignore_index=True)
merged_df_TXx

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,9.1,7.9,16.2,22.1,29.4,33.1,31.8,30.4,27.1,24.9,12.0,11.9,33.1,61700004063
1,1902,9.2,14.2,18.5,24.2,30.2,33.7,31.3,31.0,31.4,19.9,14.8,9.0,33.7,61700004063
2,1903,13.3,18.9,24.0,20.0,28.6,31.5,32.0,29.9,32.0,24.6,11.0,6.0,32.0,61700004063
3,1904,9.0,9.3,18.5,24.5,29.5,31.0,35.1,33.5,26.0,21.0,11.9,12.7,35.1,61700004063
4,1905,7.0,8.5,17.1,20.7,28.0,33.1,34.4,33.0,27.0,13.9,17.2,10.6,34.4,61700004063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,1995,11.5,11.6,12.5,23.5,25.5,27.4,31.5,32.2,23.9,24.1,11.7,9.3,32.2,61700010147
4240,1996,8.4,11.3,10.0,28.6,26.9,33.3,28.6,31.2,20.9,17.9,15.3,8.7,33.3,61700010147
4241,1997,8.2,13.7,17.0,16.3,26.7,27.4,26.9,32.9,28.6,20.4,14.5,11.8,32.9,61700010147
4242,1998,13.3,15.9,18.6,21.7,28.2,29.6,30.1,29.3,21.1,17.9,11.0,11.1,30.1,61700010147
4243,1999,13.4,10.4,18.1,19.9,29.3,27.1,34.2,31.4,29.5,18.6,16.7,10.9,34.2,61700010147

In [5]:
merged_df_TXx.head(30)

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,9.1,7.9,16.2,22.1,29.4,33.1,31.8,30.4,27.1,24.9,12.0,11.9,33.1,61700004063
1,1902,9.2,14.2,18.5,24.2,30.2,33.7,31.3,31.0,31.4,19.9,14.8,9.0,33.7,61700004063
2,1903,13.3,18.9,24.0,20.0,28.6,31.5,32.0,29.9,32.0,24.6,11.0,6.0,32.0,61700004063
3,1904,9.0,9.3,18.5,24.5,29.5,31.0,35.1,33.5,26.0,21.0,11.9,12.7,35.1,61700004063
4,1905,7.0,8.5,17.1,20.7,28.0,33.1,34.4,33.0,27.0,13.9,17.2,10.6,34.4,61700004063
5,1906,12.0,9.9,19.0,25.4,26.2,31.8,30.0,32.8,30.8,21.1,17.2,8.0,32.8,61700004063
6,1907,6.6,8.1,17.2,18.3,29.9,30.8,29.0,32.6,27.1,23.1,13.7,9.9,32.6,61700004063
7,1908,7.7,9.3,15.8,19.8,29.8,32.9,33.0,27.9,26.6,23.8,10.8,8.4,33.0,61700004063
8,1909,7.9,7.2,20.2,25.0,28.6,29.8,26.0,29.8,28.2,19.8,10.7,13.6,29.8,61700004063
9,1910,9.5,15.3,16.3,23.4,28.4,29.7,28.3,27.9,22.5,22.5,10.6,10.2,29.7,61700004063
10,1911,5.2,10.7,24.4,24.2,26.5,28.4,36.9,33.7,33.3,20.4,17.4,8.8,36.9,61700004063
11,1912,8.9,17.4,20.8,20.8,29.3,29.4,30.7,26.8,17.4,18.7,10.2,12.3,30.7,61700004063
12,1913,7.6,11.0,22.7,26.5,27.9,29.4,27.9,28.1,24.8,21.3,17.5,9.2,29.4,61700004063
13,1914,5.5,13.7,17.9,23.6,28.3,28.2,29.8,29.6,28.0,17.9,11.8,15.6,29.8,61700004063
14,1915,9.7,11.0,18.2,22.8,27.4,33.0,30.9,27.0,23.9,17.6,11.8,16.0,33.0,61700004063
15,1916,11.9,10.5,19.8,22.8,28.3,27.7,27.9,29.4,25.0,19.9,15.5,9.7,29.4,61700004063
16,1917,10.4,7.9,14.0,19.3,29.7,33.0,33.7,28.0,26.1,24.0,11.0,7.5,33.7,61700004063
17,1918,12.6,10.4,17.6,20.6,29.1,26.4,32.2,32.0,26.0,18.0,15.0,12.0,32.2,61700004063
18,1919,13.5,12.2,18.4,17.5,24.6,31.4,27.5,30.6,30.0,22.2,10.7,11.7,31.4,61700004063
19,1920,11.6,12.8,19.1,21.6,28.4,26.9,33.2,29.5,24.1,20.2,13.1,14.4,33.2,61700004063
20,1921,13.6,9.4,20.2,21.0,28.0,30.3,37.3,36.1,27.3,24.1,11.9,11.9,37.3,61700004063
21,1922,9.0,16.2,17.6,26.7,33.3,29.0,34.1,28.3,21.0,15.3,10.8,8.0,34.1,61700004063
22,1923,8.1,10.2,20.3,22.8,29.2,23.9,35.1,33.4,27.2,25.4,13.6,6.9,35.1,61700004063
23,1924,6.2,5.2,18.1,24.3,27.8,30.0,30.4,29.2,26.6,19.9,16.0,9.1,30.4,61700004063
24,1925,13.6,16.0,14.1,20.3,27.3,30.0,32.1,33.1,24.3,19.5,14.0,15.0,33.1,61700004063
25,1926,8.1,12.2,18.8,25.7,25.6,27.4,30.2,29.1,27.8,20.6,16.6,5.6,30.2,61700004063
26,1927,8.9,13.3,18.3,22.0,28.7,31.0,29.7,28.5,26.3,18.9,15.7,10.4,31.0,61700004063
27,1928,9.1,12.2,18.2,24.7,23.8,28.2,34.3,30.0,28.3,19.9,15.0,8.8,34.3,61700004063
28,1929,4.3,7.0,18.3,21.5,28.4,28.7,34.4,30.7,32.1,26.5,12.8,12.9,34.4,61700004063
29,1930,10.2,13.5,20.6,22.5,27.4,31.4,33.5,30.0,24.5,18.2,14.4,8.0,33.5,61700004063

In [6]:
merged_df_TXx.to_csv('merged_df_TXx.csv', index=False)