In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/TN50p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901  19.35  10.71  54.84  60.00  51.61  43.33  70.97  41.94  56.67
 1   1902  77.42  35.71  51.61  53.33  12.90  43.33  29.03  45.16  40.00
 2   1903  45.16  53.57  51.61  16.67  51.61  33.33  45.16  45.16  43.33
 3   1904  29.03  72.41  51.61  60.00  45.16  36.67  58.06  41.94  53.33
 4   1905  29.03  67.86  74.19  43.33  35.48  63.33  77.42  58.06  70.00
 ..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 94  1995  54.84  75.00  32.26  80.00  38.71  40.00  74.19  64.52  60.00
 95  1996  25.81  31.03  29.03  30.00  58.06  46.67  45.16  58.06  40.00
 96  1997  25.81  67.86  74.19  26.67  51.61  56.67  70.97  80.65  30.00
 97  1998  54.84  57.14  48.39  63.33  58.06  60.00  61.29  32.26  56.67
 98  1999  61.29  50.00  67.74  43.33  70.97  46.67  80.65  61.29  73.33

       oct    nov    dec  annual      Station
 0   45.16  43.33  51.61   46.03  61700004063
 1   48.39  20.00  41.94   41.64  61700004063
 2   74.19  73.33  41.94   47.95  61700004063
 3   54.84  36.67  64.52   50.41  61700004063
 4    6.45  43.33  38.71   50.41  61700004063
 ..    ...    ...    ...     ...          ...
 94  80.65  36.67  29.03   55.34  61700004063
 95  51.61  73.33  29.03   43.29  61700004063
 96  35.48  63.33  48.39   52.60  61700004063
 97  80.65  30.00  35.48   53.15  61700004063
 98  61.29  33.33  64.52   59.73  61700004063

 [99 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  77.42  96.55  74.19  70.00  74.19  60.00  54.84  61.29  56.67
 122  2001  51.61  53.57  35.48  56.67  45.16  36.67  80.65  67.74  53.33
 123  2002  74.19  82.14  61.29  73.33  83.87  76.67  80.00  96.55  56.67
 124  2003  58.06   7.14  58.06  56.67  61.29  70.00  80.65  70.97  53.33
 125  2004  41.94  62.07  64.52  80.00  64.52  60.00  56.67  87.10  60.00

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000043
 1   -99.90 -99.90 -99.90  -99.90  LOCID000043
 2   -99.90 -99.90 -99.90  -99.90  LOCID000043
 3   -99.90 -99.90 -99.90  -99.90  LOCID000043
 4   -99.90 -99.90 -99.90  -99.90  LOCID000043
 ..     ...    ...    ...     ...          ...
 121  64.52  83.33  61.29   69.59  LOCID000043
 122  93.55  43.33  19.35   53.15  LOCID000043
 123  25.81  43.33  25.81   64.11  LOCID000043
 124   9.68  73.33  58.06   55.07  LOCID000043
 125  64.52  50.00  61.29   62.74  LOCID000043

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000042
 1   -99.9   -99.9  LOCID000042
 2   -99.9   -99.9  LOCID000042
 3   -99.9   -99.9  LOCID000042
 4   -99.9   -99.9  LOCID000042
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000042
 122 -99.9   -99.9  LOCID000042
 123 -99.9   -99.9  LOCID000042
 124 -99.9   -99.9  LOCID000042
 125 -99.9   -99.9  LOCID000042

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870  38.71  14.29  25.81  40.00  45.16  56.67  80.65  48.39  16.67
 1    1871   3.23  42.86  51.61  43.33  12.90  13.33  45.16  41.94  43.33
 2    1872  41.94  48.28  48.39  73.33  64.52  53.33  51.61  19.35  53.33
 3    1873  61.29  42.86  70.97  46.67  25.81  53.33  70.97  54.84  30.00
 4    1874  54.84  32.14  48.39  76.67  22.58  53.33  80.65  12.90  60.00
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000  58.06  75.86  74.19  70.00  64.52  50.00  32.26  61.29  76.67
 131  2001  41.94  53.57  70.97  41.38  80.65  40.00  66.67  70.00  46.67
 132  2002  48.28  83.33  51.61  57.14  70.97  66.67  64.52  83.87  40.00
 133  2003  46.43  11.11  58.06  53.33  77.42  93.33  80.65  90.32  41.38
 134  2004  45.16  50.00  40.00  68.97  38.71  40.00  58.06  80.65  48.28

        oct    nov    dec  annual      Station
 0    29.03  50.00  20.00   38.90  LOCID000040
 1     3.23   0.00   3.23   25.21  LOCID000040
 2    32.26  60.00  58.06   50.41  LOCID000040
 3    54.84  40.00  41.94   49.59  LOCID000040
 4    22.58  16.67  22.58   41.92  LOCID000040
 ..     ...    ...    ...     ...          ...
 130  74.19  73.33  67.74   64.93  LOCID000040
 131  90.32  44.83  36.67   56.44  LOCID000040
 132  45.16  86.67  58.06   61.37  LOCID000040
 133  20.00  70.00  51.72   57.26  LOCID000040
 134  61.29  56.67  45.16   52.33  LOCID000040

 [135 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000054
 1   -99.9   -99.9  LOCID000054
 2   -99.9   -99.9  LOCID000054
 3   -99.9   -99.9  LOCID000054
 4   -99.9   -99.9  LOCID000054
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000054
 122 -99.9   -99.9  LOCID000054
 123 -99.9   -99.9  LOCID000054
 124 -99.9   -99.9  LOCID000054
 125 -99.9   -99.9  LOCID000054

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1871 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1872 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1873 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1874 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000  54.84  75.86  61.29  66.67  54.84  56.67  35.48  61.29  56.67
 131  2001  45.16  46.43  41.94  53.33  51.61  16.67  70.00  74.19  36.67
 132  2002  48.39  82.14  54.84  36.67  87.10  70.00  70.97  93.55  46.67
 133  2003  45.16   3.57  35.48  40.00  70.97  80.00  80.65  74.19  53.33
 134  2004  35.48  58.62  41.94  53.33  32.26  36.67  45.16  83.87  46.67

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000041
 1   -99.90 -99.90 -99.90  -99.90  LOCID000041
 2   -99.90 -99.90 -99.90  -99.90  LOCID000041
 3   -99.90 -99.90 -99.90  -99.90  LOCID000041
 4   -99.90 -99.90 -99.90  -99.90  LOCID000041
 ..     ...    ...    ...     ...          ...
 130  80.65  63.33  58.06   60.55  LOCID000041
 131  80.65  58.62  32.26   50.41  LOCID000041
 132  38.71  60.00  22.58   59.18  LOCID000041
 133   9.68  63.33  38.71   49.86  LOCID000041
 134  48.39  50.00  45.16   48.22  LOCID000041

 [135 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1912 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1   1913 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2   1914 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3   1915 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4   1916 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 5   1917 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 6   1918 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 7   1919 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 8   1920 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 9   1921 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 10  1922 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 11  1923 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 12  1924 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 13  1925 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 14  1926 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 15  1927 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 16  1928 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 17  1929 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 18  1930 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 19  1931 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 20  1932 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 21  1933 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 22  1934 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 23  1935 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 24  1936 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 25  1937 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 26  1938 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 27  1939 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 28  1940 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 29  1941 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 30  1942 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 31  1943 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 32  1944 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 33  1945 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 34  1946 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 35  1947 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 36  1948 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 37  1949 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 38  1950 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 39  1951 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 40  1952 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 41  1953 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 42  1954 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 43  1955 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 44  1956 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 45  1957 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 46  1958 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 47  1959 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 48  1960 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 49  1961 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 50  1962 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

      dec  annual      Station
 0  -99.9   -99.9  61700003865
 1  -99.9   -99.9  61700003865
 2  -99.9   -99.9  61700003865
 3  -99.9   -99.9  61700003865
 4  -99.9   -99.9  61700003865
 5  -99.9   -99.9  61700003865
 6  -99.9   -99.9  61700003865
 7  -99.9   -99.9  61700003865
 8  -99.9   -99.9  61700003865
 9  -99.9   -99.9  61700003865
 10 -99.9   -99.9  61700003865
 11 -99.9   -99.9  61700003865
 12 -99.9   -99.9  61700003865
 13 -99.9   -99.9  61700003865
 14 -99.9   -99.9  61700003865
 15 -99.9   -99.9  61700003865
 16 -99.9   -99.9  61700003865
 17 -99.9   -99.9  61700003865
 18 -99.9   -99.9  61700003865
 19 -99.9   -99.9  61700003865
 20 -99.9   -99.9  61700003865
 21 -99.9   -99.9  61700003865
 22 -99.9   -99.9  61700003865
 23 -99.9   -99.9  61700003865
 24 -99.9   -99.9  61700003865
 25 -99.9   -99.9  61700003865
 26 -99.9   -99.9  61700003865
 27 -99.9   -99.9  61700003865
 28 -99.9   -99.9  61700003865
 29 -99.9   -99.9  61700003865
 30 -99.9   -99.9  61700003865
 31 -99.9   -99.9  61700003865
 32 -99.9   -99.9  61700003865
 33 -99.9   -99.9  61700003865
 34 -99.9   -99.9  61700003865
 35 -99.9   -99.9  61700003865
 36 -99.9   -99.9  61700003865
 37 -99.9   -99.9  61700003865
 38 -99.9   -99.9  61700003865
 39 -99.9   -99.9  61700003865
 40 -99.9   -99.9  61700003865
 41 -99.9   -99.9  61700003865
 42 -99.9   -99.9  61700003865
 43 -99.9   -99.9  61700003865
 44 -99.9   -99.9  61700003865
 45 -99.9   -99.9  61700003865
 46 -99.9   -99.9  61700003865
 47 -99.9   -99.9  61700003865
 48 -99.9   -99.9  61700003865
 49 -99.9   -99.9  61700003865
 50 -99.9   -99.9  61700003865  ,
      year    jan    feb    mar    apr    may   jun    jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...   ...    ...    ...    ...
 121  2000  61.29  86.21  93.55  76.67  64.52  60.0  48.39  58.06  70.00
 122  2001  51.61  60.71  58.06  56.67  64.52  40.0  77.42  80.65  53.33
 123  2002 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 124  2003 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90
 125  2004 -99.90 -99.90 -99.90 -99.90 -99.90 -99.9 -99.90 -99.90 -99.90

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000045
 1   -99.90 -99.90 -99.90  -99.90  LOCID000045
 2   -99.90 -99.90 -99.90  -99.90  LOCID000045
 3   -99.90 -99.90 -99.90  -99.90  LOCID000045
 4   -99.90 -99.90 -99.90  -99.90  LOCID000045
 ..     ...    ...    ...     ...          ...
 121  80.65  63.33  67.74   69.32  LOCID000045
 122  90.32  66.67  51.61   62.74  LOCID000045
 123 -99.90 -99.90 -99.90  -99.90  LOCID000045
 124 -99.90 -99.90 -99.90  -99.90  LOCID000045
 125 -99.90 -99.90 -99.90  -99.90  LOCID000045

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000051
 1   -99.9   -99.9  LOCID000051
 2   -99.9   -99.9  LOCID000051
 3   -99.9   -99.9  LOCID000051
 4   -99.9   -99.9  LOCID000051
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000051
 122 -99.9   -99.9  LOCID000051
 123 -99.9   -99.9  LOCID000051
 124 -99.9   -99.9  LOCID000051
 125 -99.9   -99.9  LOCID000051

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879  32.26  64.29  45.16  50.00  51.61  93.33  70.97  93.55  86.67
 1    1880  48.39  55.17  32.26  76.67  54.84  76.67  80.65  77.42  86.67
 2    1881  22.58  50.00  38.71  26.67  64.52  60.00  87.10  51.61  63.33
 3    1882  61.29  75.00  96.77  63.33  51.61  63.33  77.42  54.84  80.00
 4    1883  32.26  60.71   3.23  16.67  35.48  43.33  48.39  29.03  46.67
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  58.06  89.66  80.65  63.33  67.74  53.33  54.84  70.97  53.33
 122  2001  48.39  53.57  41.94  56.67  67.74  26.67  74.19  61.29  46.67
 123  2002  64.52  88.89  80.65  66.67  93.55  70.00  83.87  96.77  66.67
 124  2003  61.29  10.71  54.84  60.00  83.87  83.33  87.10  90.32  66.67
 125  2004  41.94  62.96  61.29  80.00  58.06  60.00  51.61  90.32  73.33

        oct    nov    dec  annual      Station
 0    54.84  30.00   9.68   56.71  LOCID000050
 1    38.71  53.33  87.10   64.11  LOCID000050
 2     6.45  70.00  64.52   50.41  LOCID000050
 3    51.61  50.00  41.94   63.84  LOCID000050
 4    54.84  53.33  61.29   40.27  LOCID000050
 ..     ...    ...    ...     ...          ...
 121  87.10  86.67  61.29   69.04  LOCID000050
 122  90.32  40.00  41.94   54.25  LOCID000050
 123  48.39  60.00  32.26   70.68  LOCID000050
 124  12.90  66.67  73.33   62.74  LOCID000050
 125  54.84  53.33  70.97   63.01  LOCID000050

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000044
 1   -99.9   -99.9  LOCID000044
 2   -99.9   -99.9  LOCID000044
 3   -99.9   -99.9  LOCID000044
 4   -99.9   -99.9  LOCID000044
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000044
 122 -99.9   -99.9  LOCID000044
 123 -99.9   -99.9  LOCID000044
 124 -99.9   -99.9  LOCID000044
 125 -99.9   -99.9  LOCID000044

 [126 rows x 15 columns],
     year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901  25.81   7.14  58.06  60.00  70.97  73.33  93.55  87.10  53.33

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 15)
Shape of csv2: (126, 15)
Shape of csv3: (126, 15)
Shape of csv4: (135, 15)
Shape of csv5: (126, 15)
Shape of csv6: (135, 15)
Shape of csv7: (51, 15)
Shape of csv8: (126, 15)
Shape of csv9: (126, 15)
Shape of csv10: (126, 15)
Shape of csv11: (126, 15)
Shape of csv12: (99, 15)
Shape of csv13: (126, 15)
Shape of csv14: (126, 15)
Shape of csv15: (129, 15)
Shape of csv16: (126, 15)
Shape of csv17: (83, 15)
Shape of csv18: (99, 15)
Shape of csv19: (99, 15)
Shape of csv20: (93, 15)
Shape of csv21: (99, 15)
Shape of csv22: (91, 15)
Shape of csv23: (129, 15)
Shape of csv24: (126, 15)
Shape of csv25: (99, 15)
Shape of csv26: (99, 15)
Shape of csv27: (90, 15)
Shape of csv28: (99, 15)
Shape of csv29: (99, 15)
Shape of csv30: (99, 15)
Shape of csv31: (126, 15)
Shape of csv32: (126, 15)
Shape of csv33: (99, 15)
Shape of csv34: (121, 15)
Shape of csv35: (126, 15)
Shape of csv36: (126, 15)
Shape of csv37: (99, 15)
Shape of csv38: (109, 15)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []

    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_TN50p = pd.concat(dfs, ignore_index=True)

    return merged_df_TN50p

merged_df_TN50p = pd.concat(dataframes, ignore_index=True)
merged_df_TN50p

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,19.35,10.71,54.84,60.00,51.61,43.33,70.97,41.94,56.67,45.16,43.33,51.61,46.03,61700004063
1,1902,77.42,35.71,51.61,53.33,12.90,43.33,29.03,45.16,40.00,48.39,20.00,41.94,41.64,61700004063
2,1903,45.16,53.57,51.61,16.67,51.61,33.33,45.16,45.16,43.33,74.19,73.33,41.94,47.95,61700004063
3,1904,29.03,72.41,51.61,60.00,45.16,36.67,58.06,41.94,53.33,54.84,36.67,64.52,50.41,61700004063
4,1905,29.03,67.86,74.19,43.33,35.48,63.33,77.42,58.06,70.00,6.45,43.33,38.71,50.41,61700004063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,1995,61.29,82.14,51.61,60.00,41.94,40.00,80.65,64.52,56.67,70.97,30.00,3.23,53.42,61700010147
4240,1996,25.81,31.03,12.90,46.67,38.71,40.00,48.39,67.74,16.67,41.94,36.67,29.03,36.44,61700010147
4241,1997,29.03,82.14,58.06,50.00,51.61,46.67,74.19,90.32,46.67,35.48,40.00,64.52,55.62,61700010147
4242,1998,67.74,85.71,58.06,73.33,61.29,80.00,54.84,45.16,66.67,41.94,20.00,51.61,58.63,61700010147
4243,1999,61.29,64.29,74.19,70.00,61.29,36.67,64.52,67.74,86.67,61.29,40.00,67.74,63.01,61700010147

In [5]:
merged_df_TN50p.head(30)

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,19.35,10.71,54.84,60.00,51.61,43.33,70.97,41.94,56.67,45.16,43.33,51.61,46.03,61700004063
1,1902,77.42,35.71,51.61,53.33,12.90,43.33,29.03,45.16,40.00,48.39,20.00,41.94,41.64,61700004063
2,1903,45.16,53.57,51.61,16.67,51.61,33.33,45.16,45.16,43.33,74.19,73.33,41.94,47.95,61700004063
3,1904,29.03,72.41,51.61,60.00,45.16,36.67,58.06,41.94,53.33,54.84,36.67,64.52,50.41,61700004063
4,1905,29.03,67.86,74.19,43.33,35.48,63.33,77.42,58.06,70.00,6.45,43.33,38.71,50.41,61700004063
5,1906,70.97,32.14,41.94,50.00,74.19,40.00,64.52,51.61,36.67,67.74,70.00,16.13,51.51,61700004063
6,1907,58.06,32.14,32.26,36.67,48.39,40.00,29.03,41.94,36.67,80.65,40.00,45.16,43.56,61700004063
7,1908,22.58,55.17,22.58,26.67,67.74,60.00,38.71,35.48,20.00,22.58,26.67,41.94,36.71,61700004063
8,1909,32.26,10.71,32.26,53.33,16.13,23.33,25.81,61.29,60.00,67.74,26.67,67.74,40.00,61700004063
9,1910,67.74,53.57,38.71,40.00,45.16,60.00,41.94,41.94,26.67,64.52,30.00,74.19,48.77,61700004063
10,1911,29.03,57.14,45.16,43.33,61.29,36.67,64.52,83.87,43.33,48.39,63.33,74.19,54.25,61700004063
11,1912,29.03,75.86,83.87,40.00,51.61,53.33,70.97,29.03,0.00,32.26,30.00,48.39,45.48,61700004063
12,1913,35.48,42.86,80.65,53.33,51.61,30.00,9.68,29.03,33.33,51.61,83.33,54.84,46.30,61700004063
13,1914,19.35,53.57,64.52,76.67,38.71,40.00,67.74,54.84,36.67,45.16,43.33,64.52,50.41,61700004063
14,1915,51.61,50.00,48.39,30.00,58.06,63.33,45.16,32.26,26.67,45.16,23.33,61.29,44.66,61700004063
15,1916,90.32,41.38,77.42,63.33,51.61,20.00,54.84,61.29,40.00,58.06,70.00,61.29,57.81,61700004063
16,1917,48.39,21.43,25.81,16.67,77.42,76.67,48.39,80.65,50.00,35.48,66.67,22.58,47.67,61700004063
17,1918,38.71,50.00,48.39,76.67,67.74,30.00,38.71,41.94,70.00,32.26,43.33,77.42,51.23,61700004063
18,1919,67.74,46.43,45.16,33.33,19.35,36.67,22.58,32.26,63.33,32.26,23.33,54.84,39.73,61700004063
19,1920,67.74,51.72,64.52,76.67,61.29,30.00,32.26,9.68,40.00,32.26,10.00,45.16,43.56,61700004063
20,1921,83.87,50.00,32.26,46.67,58.06,30.00,48.39,54.84,30.00,48.39,13.33,45.16,45.21,61700004063
21,1922,25.81,50.00,38.71,30.00,41.94,46.67,22.58,35.48,30.00,9.68,20.00,77.42,35.62,61700004063
22,1923,70.97,53.57,70.97,33.33,41.94,13.33,67.74,32.26,50.00,74.19,40.00,29.03,48.22,61700004063
23,1924,12.90,13.79,38.71,33.33,74.19,40.00,51.61,25.81,66.67,45.16,16.67,25.81,37.26,61700004063
24,1925,64.52,82.14,29.03,63.33,48.39,23.33,58.06,70.97,20.00,48.39,26.67,29.03,46.85,61700004063
25,1926,45.16,100.00,48.39,53.33,32.26,33.33,61.29,45.16,63.33,45.16,63.33,38.71,52.05,61700004063
26,1927,70.97,42.86,64.52,56.67,41.94,33.33,48.39,61.29,70.00,41.94,33.33,22.58,49.04,61700004063
27,1928,61.29,55.17,29.03,60.00,12.90,40.00,45.16,67.74,30.00,51.61,83.33,38.71,47.95,61700004063
28,1929,9.68,3.57,29.03,30.00,48.39,53.33,61.29,64.52,63.33,67.74,53.33,77.42,47.12,61700004063
29,1930,45.16,25.00,61.29,63.33,48.39,90.00,45.16,48.39,60.00,48.39,76.67,45.16,54.79,61700004063

In [6]:
merged_df_TN50p.to_csv('TN50p.csv', index=False)