In [1]:
import os
import pandas as pd

def read_csv_files(directory):
    data_frames = []
    
    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            original_df = pd.read_csv(file_path)
            
            if len(original_df.columns) == 1:
                first_column_name = original_df.columns[0]
                column_names = first_column_name.split()

                split_columns = original_df.iloc[:, 0].str.split(expand=True)
                new_df = pd.concat([original_df, split_columns], axis=1)
                new_df = new_df.drop(new_df.columns[0], axis=1)
                new_df.columns = column_names
                original_df = new_df
            
            original_df['Station'] = filename.split('.')[0]
            data_frames.append(original_df)
            
    return data_frames

csv_directory = '/Users/roshanchandru/Desktop/Dissertation/Dataset/Germany/Indicies/TX50p'

dataframes = read_csv_files(csv_directory)
dataframes

[    year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901  35.48  17.86  48.39  66.67  77.42  63.33  87.10  48.39  53.33
 1   1902  90.32  60.71  64.52  73.33  19.35  46.67  51.61  48.39  60.00
 2   1903  61.29  89.29  83.87  20.00  64.52  53.33  51.61  45.16  66.67
 3   1904  35.48  55.17  45.16  63.33  58.06  63.33  87.10  64.52  43.33
 4   1905  45.16  53.57  67.74  43.33  61.29  73.33  83.87  70.97  46.67
 ..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 94  1995  51.61  92.86  48.39  50.00  48.39  26.67  87.10  67.74  20.00
 95  1996  29.03  31.03  41.94  63.33  38.71  56.67  51.61  48.39  10.00
 96  1997  25.81  89.29  70.97  36.67  58.06  46.67  48.39  90.32  80.00
 97  1998  67.74  75.00  61.29  70.00  64.52  70.00  38.71  51.61  53.33
 98  1999  83.87  39.29  70.97  63.33  58.06  53.33  77.42  61.29  86.67

       oct    nov    dec  annual      Station
 0   48.39  46.67  64.52   55.07  61700004063
 1   38.71  46.67  54.84   54.52  61700004063
 2   58.06  53.33  22.58   55.62  61700004063
 3   54.84  43.33  61.29   56.44  61700004063
 4    3.23  50.00  51.61   54.25  61700004063
 ..    ...    ...    ...     ...          ...
 94  77.42  26.67  19.35   51.23  61700004063
 95  54.84  50.00  29.03   42.19  61700004063
 96  35.48  66.67  58.06   58.63  61700004063
 97  35.48  23.33  45.16   54.52  61700004063
 98  48.39  43.33  67.74   63.01  61700004063

 [99 rows x 15 columns],
      year    jan     feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879 -99.90  -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1880 -99.90  -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1881 -99.90  -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1882 -99.90  -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1883 -99.90  -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...     ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  70.97  100.00  61.29  83.33  74.19  50.00  32.26  58.06  50.00
 122  2001  45.16   67.86  38.71  50.00  67.74  30.00  83.87  64.52  13.33
 123  2002  64.52   96.43  77.42  60.00  70.97  60.00  51.61  93.55  63.33
 124  2003  54.84   25.00  83.87  76.67  64.52  83.33  80.65  83.87  80.00
 125  2004  45.16   75.86  58.06  83.33  41.94  40.00  45.16  70.97  63.33

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000043
 1   -99.90 -99.90 -99.90  -99.90  LOCID000043
 2   -99.90 -99.90 -99.90  -99.90  LOCID000043
 3   -99.90 -99.90 -99.90  -99.90  LOCID000043
 4   -99.90 -99.90 -99.90  -99.90  LOCID000043
 ..     ...    ...    ...     ...          ...
 121  77.42  86.67  58.06   66.85  LOCID000043
 122  87.10  73.33  32.26   54.52  LOCID000043
 123  35.48  50.00  25.81   62.19  LOCID000043
 124  19.35  80.00  64.52   66.58  LOCID000043
 125  54.84  56.67  61.29   58.08  LOCID000043

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000042
 1   -99.9   -99.9  LOCID000042
 2   -99.9   -99.9  LOCID000042
 3   -99.9   -99.9  LOCID000042
 4   -99.9   -99.9  LOCID000042
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000042
 122 -99.9   -99.9  LOCID000042
 123 -99.9   -99.9  LOCID000042
 124 -99.9   -99.9  LOCID000042
 125 -99.9   -99.9  LOCID000042

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may     jun    jul    aug    sep  \
 0    1870  45.16  14.29  12.90  66.67  64.52   53.33  87.10  19.35  26.67
 1    1871  12.90  46.43  64.52  46.67  19.35   16.67  48.39  54.84  63.33
 2    1872  45.16  51.72  67.74  70.00  38.71   40.00  67.74  35.48  56.67
 3    1873  74.19  25.00  67.74  50.00  19.35   66.67  83.87  58.06  36.67
 4    1874  64.52  50.00  64.52  73.33  25.81   53.33  87.10  41.94  70.00
 ..    ...    ...    ...    ...    ...    ...     ...    ...    ...    ...
 130  2000  74.19  86.21  80.65  80.00  64.52   70.00  25.81  77.42  56.67
 131  2001  64.52  71.43  67.74  44.83  77.42   43.33  70.97  66.67  23.33
 132  2002  44.83  95.83  83.87  67.86  61.29   83.33  54.84  61.29  66.67
 133  2003  53.57  44.44  96.77  73.33  74.19  100.00  90.32  93.55  68.97
 134  2004  48.39  67.86  53.33  72.41  51.61   60.00  58.06  64.52  68.97

        oct    nov    dec  annual      Station
 0    22.58  46.67  22.58   40.27  LOCID000040
 1    12.90   3.33   6.45   32.88  LOCID000040
 2    41.94  56.67  70.97   53.70  LOCID000040
 3    58.06  53.33  51.61   53.97  LOCID000040
 4    45.16  16.67  22.58   51.23  LOCID000040
 ..     ...    ...    ...     ...          ...
 130  54.84  93.33  70.97   69.59  LOCID000040
 131  93.55  51.72  40.00   59.18  LOCID000040
 132  51.61  86.67  64.52   66.58  LOCID000040
 133  20.00  86.67  75.86   72.05  LOCID000040
 134  61.29  60.00  58.06   59.73  LOCID000040

 [135 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000054
 1   -99.9   -99.9  LOCID000054
 2   -99.9   -99.9  LOCID000054
 3   -99.9   -99.9  LOCID000054
 4   -99.9   -99.9  LOCID000054
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000054
 122 -99.9   -99.9  LOCID000054
 123 -99.9   -99.9  LOCID000054
 124 -99.9   -99.9  LOCID000054
 125 -99.9   -99.9  LOCID000054

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1870 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1871 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1872 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1873 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1874 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 130  2000  51.61  93.10  64.52  73.33  77.42  63.33  22.58  67.74  50.00
 131  2001  51.61  67.86  45.16  53.33  67.74  33.33  74.19  61.29  10.00
 132  2002  41.94  85.71  67.74  40.00  64.52  56.67  54.84  70.97  53.33
 133  2003  58.06  25.00  67.74  66.67  70.97  86.67  80.65  83.87  56.67
 134  2004  41.94  48.28  48.39  73.33  41.94  36.67  45.16  77.42  56.67

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000041
 1   -99.90 -99.90 -99.90  -99.90  LOCID000041
 2   -99.90 -99.90 -99.90  -99.90  LOCID000041
 3   -99.90 -99.90 -99.90  -99.90  LOCID000041
 4   -99.90 -99.90 -99.90  -99.90  LOCID000041
 ..     ...    ...    ...     ...          ...
 130  80.65  93.33  58.06   66.30  LOCID000041
 131  90.32  41.38  22.58   51.51  LOCID000041
 132  41.94  56.67  22.58   54.52  LOCID000041
 133   9.68  73.33  58.06   61.64  LOCID000041
 134  64.52  46.67  58.06   53.42  LOCID000041

 [135 rows x 15 columns],
     year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0   1912 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1   1913 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2   1914 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3   1915 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4   1916 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 5   1917 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 6   1918 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 7   1919 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 8   1920 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 9   1921 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 10  1922 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 11  1923 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 12  1924 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 13  1925 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 14  1926 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 15  1927 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 16  1928 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 17  1929 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 18  1930 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 19  1931 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 20  1932 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 21  1933 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 22  1934 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 23  1935 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 24  1936 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 25  1937 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 26  1938 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 27  1939 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 28  1940 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 29  1941 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 30  1942 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 31  1943 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 32  1944 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 33  1945 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 34  1946 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 35  1947 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 36  1948 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 37  1949 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 38  1950 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 39  1951 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 40  1952 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 41  1953 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 42  1954 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 43  1955 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 44  1956 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 45  1957 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 46  1958 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 47  1959 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 48  1960 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 49  1961 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 50  1962 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

      dec  annual      Station
 0  -99.9   -99.9  61700003865
 1  -99.9   -99.9  61700003865
 2  -99.9   -99.9  61700003865
 3  -99.9   -99.9  61700003865
 4  -99.9   -99.9  61700003865
 5  -99.9   -99.9  61700003865
 6  -99.9   -99.9  61700003865
 7  -99.9   -99.9  61700003865
 8  -99.9   -99.9  61700003865
 9  -99.9   -99.9  61700003865
 10 -99.9   -99.9  61700003865
 11 -99.9   -99.9  61700003865
 12 -99.9   -99.9  61700003865
 13 -99.9   -99.9  61700003865
 14 -99.9   -99.9  61700003865
 15 -99.9   -99.9  61700003865
 16 -99.9   -99.9  61700003865
 17 -99.9   -99.9  61700003865
 18 -99.9   -99.9  61700003865
 19 -99.9   -99.9  61700003865
 20 -99.9   -99.9  61700003865
 21 -99.9   -99.9  61700003865
 22 -99.9   -99.9  61700003865
 23 -99.9   -99.9  61700003865
 24 -99.9   -99.9  61700003865
 25 -99.9   -99.9  61700003865
 26 -99.9   -99.9  61700003865
 27 -99.9   -99.9  61700003865
 28 -99.9   -99.9  61700003865
 29 -99.9   -99.9  61700003865
 30 -99.9   -99.9  61700003865
 31 -99.9   -99.9  61700003865
 32 -99.9   -99.9  61700003865
 33 -99.9   -99.9  61700003865
 34 -99.9   -99.9  61700003865
 35 -99.9   -99.9  61700003865
 36 -99.9   -99.9  61700003865
 37 -99.9   -99.9  61700003865
 38 -99.9   -99.9  61700003865
 39 -99.9   -99.9  61700003865
 40 -99.9   -99.9  61700003865
 41 -99.9   -99.9  61700003865
 42 -99.9   -99.9  61700003865
 43 -99.9   -99.9  61700003865
 44 -99.9   -99.9  61700003865
 45 -99.9   -99.9  61700003865
 46 -99.9   -99.9  61700003865
 47 -99.9   -99.9  61700003865
 48 -99.9   -99.9  61700003865
 49 -99.9   -99.9  61700003865
 50 -99.9   -99.9  61700003865  ,
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 1    1880 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 2    1881 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 3    1882 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 4    1883 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  54.84  93.10  58.06  73.33  67.74  56.67  22.58  80.65  56.67
 122  2001  45.16  67.86  48.39  63.33  74.19  30.00  61.29  64.52  10.00
 123  2002 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 124  2003 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90
 125  2004 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90 -99.90

        oct    nov    dec  annual      Station
 0   -99.90 -99.90 -99.90  -99.90  LOCID000045
 1   -99.90 -99.90 -99.90  -99.90  LOCID000045
 2   -99.90 -99.90 -99.90  -99.90  LOCID000045
 3   -99.90 -99.90 -99.90  -99.90  LOCID000045
 4   -99.90 -99.90 -99.90  -99.90  LOCID000045
 ..     ...    ...    ...     ...          ...
 121  74.19  93.33  61.29   66.03  LOCID000045
 122  93.55  50.00  38.71   53.97  LOCID000045
 123 -99.90 -99.90 -99.90  -99.90  LOCID000045
 124 -99.90 -99.90 -99.90  -99.90  LOCID000045
 125 -99.90 -99.90 -99.90  -99.90  LOCID000045

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000051
 1   -99.9   -99.9  LOCID000051
 2   -99.9   -99.9  LOCID000051
 3   -99.9   -99.9  LOCID000051
 4   -99.9   -99.9  LOCID000051
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000051
 122 -99.9   -99.9  LOCID000051
 123 -99.9   -99.9  LOCID000051
 124 -99.9   -99.9  LOCID000051
 125 -99.9   -99.9  LOCID000051

 [126 rows x 15 columns],
      year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0    1879  16.13  32.14  35.48  23.33  41.94  63.33  22.58  48.39  80.00
 1    1880  35.48  65.52  67.74  73.33  41.94  50.00  74.19  61.29  80.00
 2    1881  22.58  50.00  38.71  36.67  67.74  60.00  61.29  29.03  40.00
 3    1882  64.52  67.86  87.10  70.00  48.39  36.67  51.61  32.26  63.33
 4    1883  48.39  71.43   9.68  36.67  54.84  66.67  48.39  38.71  63.33
 ..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 121  2000  61.29  89.66  58.06  73.33  77.42  56.67  29.03  77.42  56.67
 122  2001  48.39  67.86  45.16  56.67  64.52  30.00  74.19  58.06  16.67
 123  2002  61.29  92.59  74.19  50.00  67.74  56.67  58.06  80.65  70.00
 124  2003  58.06  28.57  70.97  66.67  74.19  83.33  74.19  90.32  73.33
 125  2004  45.16  62.96  61.29  76.67  38.71  40.00  51.61  77.42  66.67

        oct    nov    dec  annual      Station
 0    32.26  10.00   9.68   34.52  LOCID000050
 1    29.03  53.33  93.55   60.55  LOCID000050
 2     6.45  83.33  67.74   46.85  LOCID000050
 3    70.97  60.00  54.84   58.90  LOCID000050
 4    61.29  60.00  58.06   51.23  LOCID000050
 ..     ...    ...    ...     ...          ...
 121  83.87  86.67  58.06   67.40  LOCID000050
 122  93.55  40.00  25.81   51.78  LOCID000050
 123  35.48  56.67  25.81   60.27  LOCID000050
 124  12.90  73.33  80.00   65.48  LOCID000050
 125  58.06  43.33  67.74   57.26  LOCID000050

 [126 rows x 15 columns],
      year   jan   feb   mar   apr   may   jun   jul   aug   sep   oct   nov  \
 0    1879 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 1    1880 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 2    1881 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 3    1882 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 4    1883 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 121  2000 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 122  2001 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 123  2002 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 124  2003 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9
 125  2004 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9 -99.9

       dec  annual      Station
 0   -99.9   -99.9  LOCID000044
 1   -99.9   -99.9  LOCID000044
 2   -99.9   -99.9  LOCID000044
 3   -99.9   -99.9  LOCID000044
 4   -99.9   -99.9  LOCID000044
 ..    ...     ...          ...
 121 -99.9   -99.9  LOCID000044
 122 -99.9   -99.9  LOCID000044
 123 -99.9   -99.9  LOCID000044
 124 -99.9   -99.9  LOCID000044
 125 -99.9   -99.9  LOCID000044

 [126 rows x 15 columns],
     year    jan    feb    mar    apr    may    jun    jul    aug    sep  \
 0   1901  29.03  14.29  45.16  56.67  61.29  50.00  93.55  67.74  40.00

In [2]:
for i, df in enumerate(dataframes, start=1):
    print(f"Shape of csv{i}:", df.shape)

Shape of csv1: (99, 15)
Shape of csv2: (126, 15)
Shape of csv3: (126, 15)
Shape of csv4: (135, 15)
Shape of csv5: (126, 15)
Shape of csv6: (135, 15)
Shape of csv7: (51, 15)
Shape of csv8: (126, 15)
Shape of csv9: (126, 15)
Shape of csv10: (126, 15)
Shape of csv11: (126, 15)
Shape of csv12: (99, 15)
Shape of csv13: (126, 15)
Shape of csv14: (126, 15)
Shape of csv15: (129, 15)
Shape of csv16: (126, 15)
Shape of csv17: (83, 15)
Shape of csv18: (99, 15)
Shape of csv19: (99, 15)
Shape of csv20: (93, 15)
Shape of csv21: (99, 15)
Shape of csv22: (91, 15)
Shape of csv23: (129, 15)
Shape of csv24: (126, 15)
Shape of csv25: (99, 15)
Shape of csv26: (99, 15)
Shape of csv27: (90, 15)
Shape of csv28: (99, 15)
Shape of csv29: (99, 15)
Shape of csv30: (99, 15)
Shape of csv31: (126, 15)
Shape of csv32: (126, 15)
Shape of csv33: (99, 15)
Shape of csv34: (121, 15)
Shape of csv35: (126, 15)
Shape of csv36: (126, 15)
Shape of csv37: (99, 15)
Shape of csv38: (109, 15)

In [3]:
print(type(dataframes))

<class 'list'>

In [4]:
import pandas as pd

def merge_csv_files(file_paths):
    dfs = []
    for file_path in file_paths:
        df = pd.read_csv(file_path)
        dfs.append(df)

    merged_df_TX50p = pd.concat(dfs, ignore_index=True)

    return merged_df_TX50p

merged_df_TX50p = pd.concat(dataframes, ignore_index=True)
merged_df_TX50p

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,35.48,17.86,48.39,66.67,77.42,63.33,87.10,48.39,53.33,48.39,46.67,64.52,55.07,61700004063
1,1902,90.32,60.71,64.52,73.33,19.35,46.67,51.61,48.39,60.00,38.71,46.67,54.84,54.52,61700004063
2,1903,61.29,89.29,83.87,20.00,64.52,53.33,51.61,45.16,66.67,58.06,53.33,22.58,55.62,61700004063
3,1904,35.48,55.17,45.16,63.33,58.06,63.33,87.10,64.52,43.33,54.84,43.33,61.29,56.44,61700004063
4,1905,45.16,53.57,67.74,43.33,61.29,73.33,83.87,70.97,46.67,3.23,50.00,51.61,54.25,61700004063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,1995,61.29,89.29,61.29,56.67,41.94,33.33,90.32,77.42,66.67,90.32,40.00,6.45,59.45,61700010147
4240,1996,12.90,27.59,22.58,70.00,25.81,33.33,48.39,74.19,20.00,64.52,43.33,22.58,38.90,61700010147
4241,1997,45.16,92.86,70.97,43.33,45.16,56.67,90.32,93.55,63.33,32.26,43.33,58.06,61.10,61700010147
4242,1998,67.74,82.14,83.87,60.00,61.29,66.67,29.03,38.71,43.33,32.26,10.00,54.84,52.33,61700010147
4243,1999,70.97,64.29,77.42,73.33,67.74,53.33,83.87,67.74,100.00,54.84,56.67,70.97,70.14,61700010147

In [5]:
merged_df_TX50p.head(30)

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual,Station
0,1901,35.48,17.86,48.39,66.67,77.42,63.33,87.10,48.39,53.33,48.39,46.67,64.52,55.07,61700004063
1,1902,90.32,60.71,64.52,73.33,19.35,46.67,51.61,48.39,60.00,38.71,46.67,54.84,54.52,61700004063
2,1903,61.29,89.29,83.87,20.00,64.52,53.33,51.61,45.16,66.67,58.06,53.33,22.58,55.62,61700004063
3,1904,35.48,55.17,45.16,63.33,58.06,63.33,87.10,64.52,43.33,54.84,43.33,61.29,56.44,61700004063
4,1905,45.16,53.57,67.74,43.33,61.29,73.33,83.87,70.97,46.67,3.23,50.00,51.61,54.25,61700004063
5,1906,74.19,50.00,41.94,60.00,64.52,46.67,61.29,45.16,36.67,80.65,80.00,35.48,56.44,61700004063
6,1907,67.74,25.00,58.06,50.00,67.74,53.33,32.26,61.29,66.67,80.65,70.00,64.52,58.36,61700004063
7,1908,35.48,34.48,48.39,20.00,61.29,70.00,51.61,25.81,46.67,58.06,36.67,58.06,45.75,61700004063
8,1909,54.84,25.00,41.94,80.00,48.39,46.67,35.48,54.84,36.67,58.06,10.00,74.19,47.40,61700004063
9,1910,67.74,64.29,64.52,50.00,58.06,53.33,29.03,29.03,26.67,77.42,26.67,74.19,51.78,61700004063
10,1911,22.58,64.29,70.97,60.00,67.74,60.00,80.65,90.32,63.33,54.84,73.33,90.32,66.58,61700004063
11,1912,48.39,82.76,93.55,63.33,67.74,63.33,74.19,16.13,3.33,22.58,26.67,67.74,52.60,61700004063
12,1913,61.29,78.57,77.42,50.00,51.61,40.00,22.58,38.71,46.67,58.06,96.67,67.74,57.26,61700004063
13,1914,32.26,89.29,54.84,83.33,38.71,56.67,45.16,70.97,40.00,41.94,46.67,80.65,56.44,61700004063
14,1915,54.84,60.71,29.03,53.33,83.87,93.33,45.16,38.71,33.33,16.13,33.33,67.74,50.68,61700004063
15,1916,93.55,72.41,70.97,53.33,61.29,33.33,48.39,38.71,36.67,41.94,63.33,64.52,56.71,61700004063
16,1917,38.71,28.57,19.35,26.67,90.32,90.00,70.97,41.94,66.67,16.13,60.00,19.35,47.40,61700004063
17,1918,58.06,57.14,74.19,80.00,70.97,30.00,45.16,25.81,33.33,16.13,33.33,80.65,50.41,61700004063
18,1919,61.29,46.43,41.94,16.67,51.61,46.67,22.58,41.94,73.33,12.90,26.67,61.29,41.92,61700004063
19,1920,87.10,96.55,80.65,60.00,64.52,60.00,61.29,29.03,36.67,54.84,20.00,45.16,58.08,61700004063
20,1921,93.55,64.29,90.32,50.00,83.87,36.67,70.97,64.52,73.33,87.10,16.67,58.06,66.03,61700004063
21,1922,32.26,53.57,51.61,30.00,64.52,50.00,35.48,25.81,10.00,3.23,20.00,67.74,36.99,61700004063
22,1923,64.52,64.29,64.52,46.67,41.94,10.00,64.52,45.16,40.00,45.16,40.00,25.81,46.03,61700004063
23,1924,32.26,17.24,45.16,43.33,54.84,36.67,51.61,19.35,40.00,67.74,50.00,54.84,43.01,61700004063
24,1925,74.19,85.71,12.90,66.67,67.74,50.00,48.39,38.71,20.00,38.71,26.67,48.39,47.95,61700004063
25,1926,58.06,100.00,54.84,70.00,35.48,16.67,48.39,41.94,63.33,45.16,86.67,38.71,54.52,61700004063
26,1927,74.19,67.86,80.65,33.33,45.16,33.33,45.16,32.26,36.67,29.03,33.33,29.03,44.93,61700004063
27,1928,83.87,89.66,61.29,50.00,32.26,40.00,74.19,32.26,53.33,48.39,83.33,38.71,57.26,61700004063
28,1929,9.68,3.57,54.84,26.67,67.74,36.67,58.06,51.61,76.67,67.74,53.33,83.87,49.59,61700004063
29,1930,67.74,60.71,77.42,56.67,54.84,90.00,29.03,32.26,36.67,22.58,66.67,58.06,54.25,61700004063

In [6]:
merged_df_TX50p.to_csv('merged_df_TX50p.csv', index=False)